@font-face{
    font-family: 'Roboto';
    src: url(../fonts/Roboto/);
}
@font-face {
    font-family: 'Playfair_Display';
    src: url(../fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}
